header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 4;
  padding-top: 0.5vw;
  height: 5.5vw;
  width: 100%;
  transition: height 0.8s linear, padding 0.5s linear;
}
html[data-scroll="0"] header {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: none;
  background-color: none;
  height: 5.5vw;
}
html:not([data-scroll="0"]) header {
  position: sticky;
  top: 0%;
  left: 0%;
  box-shadow: 0.1vw 0.1vw 0.2vw #000000;
  background-image: linear-gradient(90deg, #ff7b00, #bd4b00);
  height: 6.7vw;
  border-radius: 0 0 2.5vw 2.5vw;
}
header img {
  height: 4vw;
  filter: drop-shadow(00.1vw 00.1vw 00.2vw #000000);
}

header nav {
  margin-left: 15vw;
  margin-right: 10vw;
}

header > ul > nav > ul > a {
  min-width: fit-content;
  width: 12vw;
  margin: 1.75vw;
  border-radius: 0.5vw;

  box-shadow: inset 2px 2px 5px #000000;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 3.75vw;
  font-family: looking-flowers-caps, sans-serif;
  background-color: #ffae00;
}

ul {
  align-items: center;
  display: flex;
}
