aside {
  margin-top: 5vw;
  display: flex;
  align-self: flex-start;

  background-image: linear-gradient(90deg, #ff7b00, #bd4c006b);
}

ul > div,
ul > button > div {
  display: none;
}

ul > button {
  width: 10vw;
  min-width: fit-content;
  font-size: 2.5vw;
  font-family: "Smythe";
  background-color: #bd4b00;
  border: none;
  margin: 0.2vw 0;
}

aside > ul {
  display: flex;
  flex-direction: column;
}
article p {
  font-size: 2vw;
  text-shadow: #000000 0.1vw 0.1vw 0.2vw;
  padding: 2vw;
  font-family: "Smythe";
  background-color: #bd4c0098;
}

textarea {
  width: 10vw;
  font-size: 1vw;
}

#view {
  display: flex;
  align-items: center;
  margin-left: 5vw;
}
#view * {
  padding: 1vw;
  text-decoration: none;
  font-family: "Smythe";
  color: black;
  font-size: 2.5vw;
  border: 0.1vw solid #bd4b00;
  background-color: #ff7b00;
}

.articleInventory {
  z-index: 0;
  padding-top: 1px;

  background-image: url("../../public/Images/Background_Inventory.jpg");
  background-repeat: no-repeat;
  background-position: 35% 55%;

  animation-duration: 320s;
  animation-iteration-count: infinite;
  animation-name: backgroundMove;
}

.articleInventory h1 {
  margin-top: 6vw;
  text-shadow: 0.2vw 0.2vw 0.4vw #000000;

  padding: 0.5vw;

  font-family: "Smythe";
  font-weight: 300;
  font-size: 5vw;
}
.open,
ul > button:hover {
  background-color: rgb(255, 94, 0);
  box-shadow: 0.1vw 0.1vw 0.15vw #000000;
  transform: translateY(-0.1vw) scale(1.01);

  transition: all 0.1s;
}

#view > a:hover {
  background-color: #bd4b00;
  transform: translateY(-0.25vw) scale(1.05);
  border-radius: 0.1vw;
  box-shadow: 0.2vw 0.2vw 0.4vw #000000;
  transition: all 0.2s;
}

.InventoryForm {
  margin-bottom: auto;
}

.qrCreationLink {
  position: absolute;
  bottom: 5.5vw;
  right: 2vw;
  background-color: #ff9100;
  border: #bd4b00 0.3vw solid;
  border-radius: 1vw;
  padding: 1vw;
  font-size: 2vw;
  font-family: "Smythe";
  min-width: 10vw;
  box-shadow: 0.1vw 0.1vw 0.15vw #000000;
  margin-top: 1.5vw;
}

.screenHeight {
  height: 100vh;
}

.height {
  height: 30vh;
}

.grid {
  margin-top: 3vw;
  box-shadow: 0.1vw 0.2vw 0.25vw #000000;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid4 {
  grid-template-columns: auto auto auto auto !important;
}

.grid5 {
  grid-template-columns: auto auto auto auto auto !important;
}

.grid6 {
  grid-template-columns: auto auto auto auto auto auto !important;
}

.grid7 {
  grid-template-columns: auto auto auto auto auto auto auto !important;
}

.grid1 {
  grid-template-columns: auto !important;
}

#item_def {
  margin-top: 0 !important;
}

.title:hover {
  cursor: pointer;
  box-shadow: 0.1vw 0.2vw 0.25vw #000000;
  transition: all 0.2s;
}
.shift0 {
  margin-left: 0;
}
.shift1 {
  margin-top: 0;
  margin-left: 8vw;
}
.shift2 {
  margin-top: 0;
  margin-left: 16vw;
}
.shift3 {
  margin-top: 0;
  margin-left: 24vw;
}

.highlight {
  background-color: #bd4b00 !important;
}

.cell,
.header {
  max-width: 20vw;
  font-family: "Smythe";
  box-shadow: inset 0.1vw 0.2vw 0.25vw #000000;
  padding: 0.5vw;
  font-size: 2.5vw;
  background-color: #ff7b00;
  border: rgb(255, 94, 0) solid 0.1vw;
  transition: all 1s;
}

.self {
  text-align: center;
  background-color: #e65c00e3;
}

.header {
  min-width: 8vw;

  box-shadow: inset 0.05vw 0.15vw 0.2vw #000000;
  font-weight: bold;
  text-align: center;
  background-color: #ff9100;
}

.switchBackground {
  background-color: #bd4b00;
  padding: 1vw;
  border-radius: 0.2vw;
  margin: 1vw;
}

.switchBackground * {
  font-size: 2.5vw !important;
  margin: 0.5vw 0 0.5vw 0;
}

.deliveryCreate {
  background-image: linear-gradient(
    to right,
    rgb(255, 72, 0),
    rgb(255, 136, 0)
  );
  margin: 0 0.2vw 0 0.2vw;
  border-radius: 0.5vw;
  padding: 1vw;
}

html:not([data-scroll="0"]) .qrCreationLink {
  bottom: 2vw;
}

@keyframes backgroundMove {
  0% {
    background-position: 35% 55%;
  }
  50% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 35% 55%;
  }
} ;
